<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body id="body_about">

    <header>
        <h1 id="title_about">About</h1>
    </header>

    <section>
        <article id="about_article">
            <img src="/camoes_fernao.jpg" alt="" id="camoes_fernao">
            <p>
                Luís Vaz de Camões (Lisboa[?], c. 1524 – Lisboa, 10 de junho de 1579 ou 1580) foi 
            um poeta nacional de Portugal, considerado uma das maiores figuras da literatura lusófona 
            e um dos grandes poetas da tradição ocidental. <br><br>
            Pouco se sabe com certeza sobre a sua vida. Aparentemente nasceu em Lisboa, de uma família da 
            pequena nobreza. Sobre a sua infância tudo é conjetura mas, ainda jovem, terá recebido uma 
            sólida educação nos moldes clássicos, dominando o latim e conhecendo a literatura e a história 
            antigas e modernas. Pode ter estudado na Universidade de Coimbra, mas a sua passagem pela escola 
            não é documentada. Frequentou a corte de D. João III, iniciou a sua carreira como poeta lírico 
            e envolveu-se, como narra a tradição, em amores com damas da nobreza e possivelmente plebeias, 
            além de levar uma vida boémia e turbulenta. Diz-se que, por conta de um amor frustrado, 
            autoexilou-se em África, alistado como militar, onde perdeu um olho em batalha. Voltando a 
            Portugal, feriu um servo do Paço e foi preso. Perdoado, partiu para o Oriente. Passando lá 
            vários anos, enfrentou uma série de adversidades, foi preso várias vezes, combateu ao lado 
            das forças portuguesas e escreveu a sua obra mais conhecida, a epopeia nacionalista Os Lusíadas. 
            De volta à pátria, publicou Os Lusíadas e recebeu uma pequena pensão do rei D. Sebastião pelos 
            serviços prestados à Coroa, mas nos seus anos finais parece ter enfrentado dificuldades para se 
            manter. <br><br>
            Logo após a sua morte a sua obra lírica foi reunida na coletânea Rimas, tendo deixado também 
            três obras de teatro cómico. Enquanto viveu queixou-se várias vezes de alegadas injustiças que 
            sofrera, e da escassa atenção que a sua obra recebia, mas pouco depois de falecer a sua poesia 
            começou a ser reconhecida como valiosa e de alto padrão estético por vários nomes importantes da 
            literatura europeia, ganhando prestígio sempre crescente entre o público e os conhecedores e 
            influenciando gerações de poetas em vários países. Camões foi um renovador da língua portuguesa 
            e fixou-lhe um duradouro cânone; tornou-se um dos mais fortes símbolos de identidade da sua 
            pátria e é uma referência para toda a comunidade lusófona internacional. Hoje a sua fama está 
            solidamente estabelecida e é considerado um dos grandes vultos literários da tradição ocidental, 
            sendo traduzido para várias línguas e tornando-se objeto de uma vasta quantidade de estudos 
            críticos.
            </p>
        </article>
    </section>
    

    <button class="goBack aboutBut">
        <a href="/index">Go back</a>
    </button>
    
</body>
</html>