<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Galery</title>
</head>
<body id="body_galery">
    <header>
        <h1 id="title_galery">Galery</h1>
    </header>

    <section id="card_section">
        <div class="card">
            <img src="/img1.jpeg" alt="" class="image_galery">
        </div>
    
        <div class="card">
            <img src="/img2.jpeg" alt="" class="image_galery">
        </div>
    
        <div class="card">
            <img src="/img3.jpeg" alt="" class="image_galery">
        </div>
    
        <div class="card">
            <img src="/img4.jpeg" alt="" class="image_galery">
        </div>
    
        <div class="card">
            <img src="/img5.jpeg" alt="" class="image_galery">
        </div>
    
        <div class="card">
            <img src="/img6.jpeg" alt="" class="image_galery">
        </div>
    
        <div class="card">
            <img src="/img7.jpeg" alt="" class="image_galery">
        </div>

    </section>

    <button class="goBack">
        <a href="/index">Go back</a>
    </button>
</body>
</html>