<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Luís Vaz de Camões</title>
</head>
<body>
    <header>
        <nav>
            <h1 id="title_home">Luís Vaz de Camões</h1>
            <div id="links">
                <a href="/about" id="about">About</a>
                <a href="/works" id="works">Works</a>
                <a href="/galery" id="galery">Galery</a>
            </div>
        </nav>
        
    </header>

    <div id="luis_foto">
        <img src="luis_foto.png" alt="luis foto">
    </div>

    <h2 id="poem__homePage">As armas e os Barões assinalados <br>
        Que da Ocidental praia Lusitana <br>
        Por mares nunca de antes navegados <br>
        Passaram ainda além da Taprobana, <br>
        Em perigos e guerras esforçados <br>
        Mais do que prometia a força humana, <br>
        E entre gente remota edificaram <br>
        Novo Reino, que tanto sublimaram; <br>
        [...]</h2>


</body>
</html>