<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Works</title>
</head>
<body id="body_works">
    <header>
        <h1 id="title_works">Works</h1>
    </header>

    <main>
        <ul id="works_list">
            <li id="reiSeleuco">El-Rei Seleuco (1545), peça de teatro;</li>
            <li id="filodemo">Filodemo (1556), comédia de moralidade;</li>
            <li id="lusiadas">Os Lusíadas (1572), grande poema épico;</li>
            <li id="anfitrioes">Anfitriões (1587), comédia escrita em forma de auto;</li>
            <li id="rimas">Rimas (1595), coletânea de sua obra lírica;</li>
        </ul>

        <section id="seccao_obras">
            <p id="work_text"></p>
        </section>
    </main>


    <button class="goBack">
        <a href="/index">Go back</a>
    </button>


    <script src="/obras.js"></script>
</body>

</html>